@import "./fonts.css";
@import "./vars.css";

* {
  font-family: "Orbitron";
  margin: 0;
  padding: 0;
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 24px;
  background-color: #000;
  color: #fff;
  background-image: url("../assets/menuImgs/menu_bg.png");
  background-size: cover;
  background-position: right bottom;
}

#game {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 400ms ease-in;
  position: relative;
}

.title-wrapper {
  text-align: center;
  margin-bottom: 32px;
  transition: all 400ms ease-in;
}

/* Menu styling */
#menu-title {
  font-size: 4.3rem;
  line-height: 90%;
  font-weight: 900;
  transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
  transform-origin: center;
  font-family: "Exo";
  background: #491f8e;
  background: linear-gradient(to bottom, #fd74ff 0%, #61209d 100%);
  text-shadow: var(--text-glow-shadow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu-subtitle {
  font-size: 1.4rem;
  font-family: "Exo";
  color: var(--secondary);

  font-weight: 700;
  text-shadow:
    0 0 7px rgba(255, 255, 255, 0.15),
    0 0 10px rgba(255, 255, 255, 0.15),
    0 0 21px rgba(255, 255, 255, 0.151);
  transform: scaleX(1.1);
  letter-spacing: 2px;
}

#menu-author {
  font-size: 0.7rem;
  font-family: "Exo";
  font-weight: 700;
  opacity: 0.5;
}

#game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-right: 32px;
  z-index: 1000;
}

.menu-btns-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: all 400ms ease-in;
}

.level-text {
  font-size: .7rem;
}

.menu-btn:first-of-type {
  text-shadow: var(--text-glow-shadow);
}

.menu-btn,
.btn {
  font-family: "Orbitron";
  font-weight: 600;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(196, 159, 255, 0.3);
  padding: 16px 32px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 4px solid rgba(255, 255, 255, 0.25);
  transition: all 60ms ease-in-out;
  width: 85%;
}

.btn {
  width: fit-content;
}

.menu-btn:hover,
.btn:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.02);
}

@keyframes floating {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(2deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

#hero-menu-img {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
  width: 640px;
}

.hero-menu-img-wrapper {
  transform: translateX(0%);
  transition:
    transform 400ms ease-in,
    opacity 400ms ease-in;
}

/* Phaser canvas */
#game-canvas {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Common for all components (popup style) */
.node-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: opacity 200ms ease-in-out;
}

.node-title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

.node-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  gap: 16px;
  text-align: center;
}

.node-info-wrapper b {
  font-weight: 700;
}

.node-btns-wrapper {
  display: flex;
  gap: 16px;
}

.node-btns-wrapper .btn {
  font-size: 0.85rem;
}

.node-btns-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

/* Level Complete Component specific */

.lc-node-btns-wrapper {
  margin-top: 0;
}

/* Levels View Component */
.level-view-wrapper {
  z-index: 100000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  max-width: 1000px;
  transition: opacity 200ms ease-in-out;
}

.level-view-wrapper h2 {
  text-align: center;
  margin-bottom: 48px;
  font-size: 1.35rem;
}

.level-view-levels-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.level-view-levels-wrapper .btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-32px);
  transition: all 200ms ease-out;
}

.level-view-levels-wrapper .btn:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.02) translateY(0px) !important;
  transition: all 60ms ease-in-out !important;
}

.level-view-levels-wrapper .btn * {
  pointer-events: none;
}

.level-view-levels-wrapper .btn span {
  display: block;
  z-index: 1;
  font-size: 1.2rem;
  margin: 4px 0;
}

.level-view-levels-wrapper .btn span.lvl-done span {
  color: #c0ffd3;
  font-size: .8rem;
  display: block;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 800;
}

.level-view-levels-wrapper .btn img {
  width: 100%;
  z-index: 0;
  opacity: .5;
  transition: 80ms linear opacity;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-user-drag: none;
  user-select: none;
}

.level-view-levels-wrapper .btn:hover img {
  opacity: .7;
}

.level-view-wrapper .level-view-return-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: .8rem;
  padding: 10px 24px;
}

/* GameWon component specific */
.game-won-node-wrapper {
  gap: 0;
}

.game-won-node-wrapper .node-title {
  margin-bottom: 16px;
}

.game-won-node-wrapper .node-subtitle {
  margin-bottom: 32px;
  font-size: 1rem;
  font-weight: 500;
}

