/* Plik CSS z opisem zachowania elementu, w przypadku zmniejsza lub zwiększania okna aplikacji*/

/* Style zawarte w nawiasach będą stosowane poniżej szerokośći 1320px*/
@media (max-width: 1320px) {
  #hero-menu-img {
    width: 500px;
  }

  .menu-btn {
    width: 90%;
  }
}

/* Style zawarte w nawiasach będą stosowane poniżej szerokośći 1096px*/
@media (max-width: 1096px) {

  html, body {
    font-size: 19px;
  }

  .hero-menu-img-wrapper {
    display: none;
  }

  .level-view-levels-wrapper .btn span.lvl-done span {
    font-size: .7rem;
  }


  .level-view-levels-wrapper {
    gap: 10px;
  }

  .level-view-levels-wrapper .btn {
    border-width: 2px;
  }

  .level-view-levels-wrapper .btn img {
    border-width: 2px;
  }
}
